.wish {
  margin-bottom: 200px;
  color: skyblue;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
}
.wishcard {
  margin-bottom: 5%;
}

.main-page {
  background-image: url("https://raw.githubusercontent.com/Itsmearun1/Birthday/main/src/assets/jieun-kwon-1_PBSdyG8_o-unsplash.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
}

